@page
@model Shopbridge.Pages.IndexModel
@{
    ViewData["Title"] = "StockDetails";
}
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/fh-3.1.8/r-2.2.7/sp-1.2.2/datatables.min.css" />
</head>
<div>
    
    <div class="row" >
        <div class="col" style=" width:50%; float: right; padding:20px;">
            <h3>StockDetails</h3>
        </div>
        <div class="col" style=" width: 50%;float: right; padding:20px;" >
            <h3><a href="https://localhost:44320/swagger/index.html" target="_blank">Swagger UI</a></h3>
           
        </div>
    </div>
 

    <table class="table table-bordered table-striped" style=" width:100%;">
        @*<table class="table" border="1" cellpadding=10 cellspacing=1>*@
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].StockId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].ProductType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].Price)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].AvailabilityStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockDetails[0].Rating)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.StockDetails)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.StockId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ProductType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AvailabilityStatus)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
               </tr>
            }


        </tbody>
    </table>
</div>

